footer {
  background-color: var(--background);
  height: var(--footer-height);
  padding: var(--app-padding);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
  padding-top: 1em;
  font-size: var(--font-size-5);
}

.quote {
  font-style: italic;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  footer {
    font-size: var(--font-size-5);
  }
}
