.wrapper {
  padding-top: 5em;
}

.card {
  top: 100px;
  position: sticky;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--background);
  color: var(--text-primary);
  padding: 0px 40px;
  border-radius: 10px;
  min-height: 500px;
  margin-bottom: 35px;
  h2 {
    padding: 0;
  }
  span {
    display: block;
    font-size: 14px;
    color: #0c4eb9;
  }
}

.wrapper:last-child {
  margin-bottom: 0;
}

@for $i from 1 through 7 {
  .card:last-child {
    margin-bottom: 0;
  }
  .card:nth-child(#{$i}n) {
    top: $i * 20px + 100px;
  }
}
