.about-me-content {
  width: 100%;
  max-width: min(900px, 100%);
  display: flex;
  flex-direction: column;
  gap: 0.9em;
  color: var(--textNormal);

  p {
    margin: 0;
    line-height: 1.65;
    font-size: var(--font-size-4);
    font-style: normal;
  }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .about-me-content {
    p {
      font-size: var(--font-size-5);
    }
  }
}
